<div class="hero">
  <a routerLink="/owner/create">
    <button mat-stroked-button color="primary">Create owner</button>
  </a>
  <div class="hero__carsTable">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Middle Name</th>
          <th>Cars Count</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let owner of carOwners">
          <!-- <td *ngFor="let property of owner | keyvalue">
                    <ng-template *ngIf="property.key !== 'cars'; else count">
                        {{property.value}}
                    </ng-template>
                    <ng-template #count>{{property.key}}</ng-template>
                </td> -->
          <td>{{ owner.id }}</td>
          <td>{{ owner.last_name }}</td>
          <td>{{ owner.first_name }}</td>
          <td>{{ owner.third_name }}</td>
          <td>{{ owner.cars.length }}</td>
          <td>
            <button
              mat-stroked-button
              color="primary"
              name="view"
              (click)="viewOwner($event, owner.id)"
            >
              View
            </button>
            <button
              mat-stroked-button
              color="primary"
              name="edit"
              (click)="viewOwner($event, owner.id)"
            >
              Edit
            </button>
            <button
              mat-stroked-button
              color="warn"
              name="delete"
              (click)="deleteOwner(owner.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
