.ownerDetail {
  width: 90%;
  margin: auto;
  margin-top: 10px;

  & form {
    margin-bottom: 30px;
  }

  &__name {
    display: flex;
    flex-direction: column;

    & .mat-form-field {
      width: 100%;
    }
  }

  &__cars {
    & table {
      width: 100%;

      & tr {
        vertical-align: top;

        & td {
          vertical-align: middle;

          &:first-child .form-control {
            background-color: #fff;
          }
        }
      }
    }

    & th {
      text-align: left;
    }

    & input {
      border: none;
    }

    & button {
      background-color: white;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: lightgray;
      }
    }
  }

  &__carsTableWrapper {
    overflow-x: auto;
  }

  &__tableHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__addCarBtn {
    width: 24px;
    min-width: auto;
    height: 24px;
    padding: 0;
    border-radius: 12px;
    line-height: 1;
    transition: transform 0.3s;

    &:hover {
      transform: rotateZ(90deg);
    }
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

mat-icon {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .ownerDetail {
    width: 90%;

    &__name {
      align-items: flex-start;

      & > div {
        width: 50%;
      }

      & mat-form-field {
        width: 30%;
      }
    }
  }
}
@media screen and (min-width: 1500px) {
  .ownerDetail {
    max-width: 1050px;
  }
}
